:root {
    /* Colors */
    --first-card-color: hsl(31, 77%, 52%);
    --second-card-color: hsl(184, 100%, 22%);
    --third-card-color: hsl(179, 100%, 13%);

    --primary-color: hsl(0, 0%, 95%);
    --secondary-color: hsla(0, 0%, 100%, 0.75);

    /* Typography */
    font-size: 15px;

    --main-font: "Lexend Deca", sans-serif;
    --header-font: "Big Shoulders Display", cursive;

    --main-weight: 400;
    --header-weight: 700;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    font-family: var(--main-font);
    color: var(--primary-color);
    font-size: 0.9rem;
    line-height: 1.75rem;
    font-weight: var(--main-weight);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 5rem 3rem;
}

li {
    box-sizing: border-box;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: max-content;
    height: 29.5rem;
}

img {
    width: max-content;
}

#first-card {
    background-color: var(--first-card-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#second-card {
    background-color: var(--second-card-color);
}

#third-card {
    background-color: var(--third-card-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-title {
    color: var(--primary-color);
    font-family: var(--header-font);
    font-size: 2.5rem;
    text-transform: uppercase;
}

.card-description {
    color: var(--secondary-color);
}

button {
    position: relative;
    box-sizing: border-box;
    font-family: var(--main-font);
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 30px;
    height: 2.6rem;
    width: 8.5rem;
}

#first-card button {
    color: var(--first-card-color);
}

#second-card button {
    color: var(--second-card-color);
}

#third-card button {
    color: var(--third-card-color);
}

button:active,
button:hover {
    background-color: transparent;
}

button:active {
    cursor: pointer;
}

#first-card button:hover,
#second-card button:hover,
#third-card button:hover {
    color: var(--primary-color);
}

button:focus {
    box-sizing: border-box;
    outline: none;
    transition: border 0.2s;
    color: var(--primary-color);
}

button:focus::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

#first-card button:focus::after {
    border: 2px solid var(--first-card-color);
}

#second-card button:focus::after {
    border: 2px solid var(--second-card-color);
}

#third-card button:focus::after {
    border: 2px solid var(--third-card-color);
}


.attribution {
    color: var(--third-card-color);
    font-size: 0.8rem;
    text-align: center;
    margin-top: -70px;
}

.attribution a {
    text-decoration: none;
    color: var(--second-card-color);
    border: 1px solid var(--second-card-color);
    border-radius: 3px;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
}

.attribution a:hover {
    background-color: var(--second-card-color);
    color:var(--primary-color);
}

.attribution a:visited {
    color: var(--first-card-color);
    border: 1px solid var(--first-card-color);
}

.attribution a:visited:hover {
    background-color: var(--first-card-color);
    color:var(--primary-color);
}

/* Media */
@media(min-width: 600px) {
    ul {
        flex-direction: row;
    }

    #first-card {
        border-top-left-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    #third-card {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

}